.link{
    max-width: 100vw;
    width:60%;
    display: flex;
    justify-content: space-around;

    color: white;
    text-decoration: none;
}
.link a:hover{
 scale: 1.1;
    transition: 0.3s;

}
.navbar{
background-color: #211b1b;
height: 50px;
display: flex;
align-items: center;
padding-left: 15px;
text-decoration: none;
}

#dash{
    text-decoration: none;
    color: white;
}